{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{raportti.pvm}} - {{mittauspaikka.nimi}} - {{vesisto.nimi}} - {{vesisto.paikkakunta}}</h1>

<p>
    <a href="{{base_path}}/raportit/{{raportti.tutkimus_id}}/muokkaa" class="btn btn-primary">Muokkaa</a>
    <a href="{{base_path}}//raportit/{{raportti.tutkimus_id}}/poista" class="btn btn-danger">Poista</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Väri</th>
            <th>Haju</th>
            <th>Sameus</th>
            <th>Lämpötila</th>
            <th>pH</th>
            <th>Muita havaintoja</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{raportti.vari}}</td>
            <td>{{raportti.haju}}</td>
            <td>{{raportti.sameus}}</td>
            <td>{{raportti.lampotila}}</td>
            <td>{{raportti.ph}}</td>
            <td>{{raportti.muuta}}</td>
        </tr>
    </tbody>
</table>
<p><a href="#" class="btn-success">Lisää näyte</a></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Näyte</th>
            <th>Tulokset</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td><a href="#" class="btn-primary">Muokkaa</a>
                <a href="#" class="btn-danger">Poista</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
