{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{raportti.pvm}} - {{mittauspaikka.nimi}} - {{vesisto.nimi}} - {{vesisto.paikkakunta}}</h1>

<p>
    <form method="get" action="{{base_path}}/raportit/{{raportti.tutkimus_id}}/muokkaa" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">Muokkaa</button>
    </form>
    <form method="post" action="{{base_path}}//raportit/{{raportti.tutkimus_id}}/poista" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Väri</th>
            <th>Haju</th>
            <th>Sameus</th>
            <th>Lämpötila</th>
            <th>pH</th>
            <th>Muita havaintoja</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{raportti.vari}}</td>
            <td>{{raportti.haju}}</td>
            <td>{{raportti.sameus}}</td>
            <td>{{raportti.lampotila}}</td>
            <td>{{raportti.ph}}</td>
            <td>{{raportti.muuta}}</td>
        </tr>
    </tbody>
</table>
<p><a href="{{base_path}}/raportit/{{raportti.tutkimus_id}}/lisaa" class="btn btn-success">Lisää näyte</a></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Näyte</th>
            <th>Tulokset</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for nayte in naytteet %}
        <tr>
            <td>{{nayte.nayte_id}}</td>
            <td>{{nayte.tulokset}}</td>
            <td><a href="{{base_path}}/naytteet/{{nayte.nayte_id}}/muokkaa" class="btn btn-primary">Muokkaa</a>
                <form method="post" action="{{base_path}}/naytteet/{{nayte.nayte_id}}/poista" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
