{% extends "base.html" %}
{% block content %}
<h1>Kohteet</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<p>
    <a href="{{base_path}}/vesistot/uusi" class="btn btn-success">Lisää kohde</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Vesistö</th>
            <th>Paikkakunta</th>
        </tr>
    </thead>

    <tbody>
        {% for vesisto in vesistot %}
        <tr>
            <td><a href="{{base_path}}/vesistot/{{vesisto.kohde_id}}">{{vesisto.nimi}}</a></td>
            <td>{{vesisto.paikkakunta}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
